<nb-card>
  <nb-card-header>Заявка</nb-card-header>
  <nb-card-body>
    <form [formGroup]="getFormGroup(selectedApplicationType)">

      <nb-select fullWidth placeholder="Тип обращения" formControlName="applicationType"
                 status="{{getStatus('applicationType')}}"
                 [(selected)]="selectedApplicationType">
        <nb-option class="form-input" value="complaint">Жалоба</nb-option>
        <nb-option class="form-input" value="gratitude">Благодарность</nb-option>
        <nb-option class="form-input" value="suggestion">Предложение</nb-option>
        <nb-option class="form-input" value="question">Вопрос</nb-option>
      </nb-select>

      <nb-form-field *ngIf="selectedApplicationType === 'complaint'">
        <!--        <nb-icon nbPrefix icon="pricetags-outline" pack="eva"></nb-icon>-->
        <nb-tag-list (tagRemove)="onTagRemove($event, selectedApplicationType)">
          <nb-tag *ngFor="let tag of tags" [text]="tag" removable></nb-tag>
          <input class="form-input"
                 status="{{getStatus('tags')}}"
                 placeholder="Теги" fullWidth type="text" nbTagInput (tagAdd)="onTagAdd($event.value, selectedApplicationType)"
                 [nbAutocomplete]="autocomplete">
        </nb-tag-list>

        <app-footnote [text]="'Должно содержать не менее одного тега'"></app-footnote>
      </nb-form-field>
      <nb-autocomplete #autocomplete (selectedChange)="onTagAdd($event, selectedApplicationType)">
          <nb-option class="form-input" *ngFor="let option of optionsTags[selectedApplicationType]"
                     [value]="option">{{ option }}</nb-option>
      </nb-autocomplete>

      <nb-form-field>
        <input
          formControlName="city"
          class="form-input"
          fullWidth
          nbInput
          type="text"
          placeholder="Город"
          status="{{getStatus('city')}}"
          [nbAutocomplete]="autoControlCity"/>
      </nb-form-field>
      <nb-autocomplete #autoControlCity>
        <nb-option class="form-input" *ngFor="let option of filteredCitiesOptions$ | async" [value]="option">
          {{ option }}
        </nb-option>
      </nb-autocomplete>

      <nb-form-field>
        <input
          formControlName="institution"
          class="form-input"
          fullWidth
          nbInput
          type="text"
          placeholder="Учереждение"
          status="{{getStatus('institution')}}"
          [nbAutocomplete]="autoControlInstitution"/>
      </nb-form-field>
      <nb-autocomplete #autoControlInstitution>
        <nb-option class="form-input" *ngFor="let option of filteredInstitutionsOptions$ | async" [value]="option">
          {{ option }}
        </nb-option>
      </nb-autocomplete>

      <nb-form-field>
        <!--    <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>-->
        <input class="form-input"
               fullWidth type="text" nbInput formControlName="name" placeholder="Имя"
               status="{{getStatus('name')}}">
      </nb-form-field>

      <nb-form-field>
        <!--    <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>-->
        <input class="form-input"
               id="surname"
               fullWidth type="text" nbInput formControlName="surname" placeholder="Фамилия"
               status="{{getStatus('surname')}}">
      </nb-form-field>

      <nb-form-field>
        <!--    <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>-->
        <input class="form-input"
               fullWidth type="text" nbInput formControlName="patronymic" placeholder="Отчество">
      </nb-form-field>

      <nb-form-field>
        <!--        <nb-icon nbPrefix icon="file-text-outline" pack="eva"></nb-icon>-->
        <textarea class="textarea"
                  fullWidth fieldSize="giant" type="textarea" nbInput formControlName="applicationText"
                  status="{{getStatus('applicationText')}}"
                  placeholder="Текст обращения"></textarea>
        <app-footnote [text]="'Максимальное кол-во символов 2000'"></app-footnote>
      </nb-form-field>

      <nb-form-field *ngIf="selectedApplicationType === 'complaint'">
        <!--        <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>-->
        <input class="form-input"
               fullWidth type="file" nbInput formControlName="file" placeholder="Файл для отправки"
               (change)="onFileChange($event)">
      </nb-form-field>

      <nb-form-field>
        <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
        <input class="form-input"
               fullWidth type="text" nbInput formControlName="email" placeholder="Email"
               status="{{getStatus('email')}}">
      </nb-form-field>

      <button (click)="onSubmit()"
              status="success"
              nbButton
              [disabled]="isValidForm(selectedApplicationType)">Отпрвить
      </button>
    </form>

  </nb-card-body>
</nb-card>
