<nb-card>
  <nb-card-header>Заявка</nb-card-header>
  <nb-card-body>
    <form [formGroup]="reportForm">

      <nb-select fullWidth placeholder="Тип обращения" formControlName="reportType"
                 status="{{getStatus('reportType')}}"
                 [(selected)]="reportType">
        <nb-option class="form-input" [value]="'complaint'">Жалоба</nb-option>
        <nb-option class="form-input" [value]="'feedback'">Отзыв</nb-option>
      </nb-select>

      <nb-form-field>
<!--        <nb-icon nbPrefix icon="pricetags-outline" pack="eva"></nb-icon>-->
        <nb-tag-list (tagRemove)="onTagRemove($event, reportType)">
          <nb-tag *ngFor="let tag of tags" [text]="tag" removable></nb-tag>
          <input class="form-input"
                 status="{{getStatus('tags')}}"
                 placeholder="Теги" fullWidth type="text" nbTagInput (tagAdd)="onTagAdd($event.value, reportType)"
                 [nbAutocomplete]="autocomplete">
        </nb-tag-list>

        <app-footnote [text]="'Должно содержать не менее одного тега'"></app-footnote>
      </nb-form-field>
      <nb-autocomplete #autocomplete (selectedChange)="onTagAdd($event, reportType)">
        <nb-option class="form-input" *ngFor="let option of optionsTags[reportType]"
                   [value]="option">{{ option }}</nb-option>
      </nb-autocomplete>

      <nb-form-field>
        <input
          formControlName="city"
          class="form-input"
          fullWidth
          nbInput
          type="text"
          placeholder="Город"
          status="{{getStatus('city')}}"
          [nbAutocomplete]="autoControlCity"/>
      </nb-form-field>
      <nb-autocomplete #autoControlCity>
        <nb-option class="form-input" *ngFor="let option of filteredCityOptions$ | async" [value]="option">
          {{ option }}
        </nb-option>
      </nb-autocomplete>

      <nb-form-field>
        <input
          formControlName="institution"
          class="form-input"
          fullWidth
          nbInput
          type="text"
          placeholder="Учереждение"
          status="{{getStatus('institution')}}"
          [nbAutocomplete]="autoControlInstitution"/>
      </nb-form-field>
      <nb-autocomplete #autoControlInstitution>
        <nb-option class="form-input" *ngFor="let option of filteredInstitutionOptions$ | async" [value]="option">
          {{ option }}
        </nb-option>
      </nb-autocomplete>

      <nb-form-field>
        <!--    <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>-->
        <input class="form-input"
               fullWidth type="text" nbInput formControlName="name" placeholder="Имя"
               status="{{getStatus('name')}}">
      </nb-form-field>

      <nb-form-field>
        <!--    <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>-->
        <input class="form-input"
               id="surname"
               fullWidth type="text" nbInput formControlName="surname" placeholder="Фамилия"
               status="{{getStatus('surname')}}">
      </nb-form-field>

      <nb-form-field>
        <!--    <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>-->
        <input class="form-input"
               fullWidth type="text" nbInput formControlName="patronymic" placeholder="Отчество">
      </nb-form-field>

      <nb-form-field>
        <!--        <nb-icon nbPrefix icon="file-text-outline" pack="eva"></nb-icon>-->
        <textarea class="textarea"
                  fullWidth fieldSize="giant" type="textarea" nbInput formControlName="reportText"
                  status="{{getStatus('reportText')}}"
                  placeholder="Текст обращения"></textarea>
        <app-footnote [text]="'Максимальное кол-во символов 2000'"></app-footnote>
      </nb-form-field>

      <nb-form-field>
        <!--        <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>-->
        <input class="form-input"
               fullWidth type="file" nbInput formControlName="file" placeholder="Файл для отправки">
      </nb-form-field>

      <nb-form-field>
        <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
        <input class="form-input"
               fullWidth type="text" nbInput formControlName="email" placeholder="Email"
               status="{{getStatus('email')}}">
      </nb-form-field>

      <button (click)="onSubmit()"
              status="success"
              nbButton
              [disabled]="reportForm.invalid || tags.size < 1 || tags.size > 5">Отпрвить
      </button>
    </form>

  </nb-card-body>
</nb-card>
